{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'images/dem1.jpg' %}" class="img-fluid" alt="Imagen de ejemplo">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu risus vel nulla cursus hendrerit at in eros. Donec pulvinar, mi id euismod cursus, mauris mi lacinia dolor, eu aliquet erat mauris id lectus. Sed ut tincidunt libero. Phasellus ac efficitur urna, ac volutpat tellus. Nullam ac nisl eget felis malesuada fringilla. Mauris sed lacus nec tellus aliquam aliquam at eu erat. Suspendisse potenti. Nulla facilisi.</p>
      <p>Vestibulum quis convallis ex. Mauris ac est orci. Proin fermentum metus at volutpat fermentum. Ut non vestibulum lacus. Curabitur sollicitudin sem id finibus feugiat. Morbi faucibus finibus ligula, a ultrices tellus iaculis non. Integer nec quam a felis euismod feugiat sed vel massa. Nam vitae lectus vitae nunc tempor ultrices. Sed eu vestibulum eros. Pellentesque malesuada feugiat nisl, vitae vulputate neque sollicitudin at.</p>
      <p>Nunc tincidunt augue a ligula ullamcorper, id sagittis tellus gravida. Nulla vestibulum blandit lacus vitae aliquam. Integer maximus ex velit, et efficitur ex egestas a. Sed sed nisi vel dolor pharetra feugiat et vel mi. Nam vulputate quam et lacus euismod bibendum. Nullam lacinia, velit eu efficitur pellentesque, felis nisl fringilla leo, id pharetra enim ex id elit. Proin sed lacus tortor.</p>
    </div>
  </div>
</div>
{% endblock content %}
